*{
    margin: 0;
    padding: 0;
}
.buynow-container{
    width: 100%;
    height: 120vh;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buynow-container .buynow-detail{
    width: 85%;
    height: 95%;
    background-color: green;
}
/* @buynnow-top */
.buynow-container .buynow-detail .buynow-top{
    width: 100%;
    height: 64%;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
}
.buynow-container .buynow-detail .buynow-box-left{
    width: 59%;
    height: 100%;
    background-color: red;
}
.buynow-container .buynow-detail .buynow-box-right{
    width: 39%;
    height: 100%;
    background-color: crimson;
}
/* @buynow-bottom */
.buynow-container .buynow-detail .buynow-bottom{
    width: 100%;
    height: 34%;
    background-color: indigo;
    margin-top: 17px;
    margin-bottom: 10px;
}