@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Encode+Sans+Condensed&family=Golos+Text&family=Hind+Vadodara&family=Julee&family=Roboto&family=Roboto+Condensed&display=swap');
import 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @container */
.container-1{
  width: 100% !important;
  height: auto;
  /* background-color: black; */
  margin: auto;
}
/* @header */
.header{
  width: 100%;
  height: 90px;
  background-color: var(--vt-c-pink-header);
  position: fixed;
  z-index: 100;

}
/* @nav-bar */
.nav-bar{
  width: 85%;
  height: 100%;
  /* background-color: white; */
  margin: auto;
  display: flex;
}
/* @icon */
.icon{
  height: 100%;
  width: 150px;
  /* background-color: blue; */
  text-align: center;
  padding-top: 23px;
  padding-right: 40px;
}
.icon h1{
  color: var( --vt-c-white);
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 30px;
  
}
/* @menu */
.menu{
  width: 700px;
  height: 100%;
  /* background-color: green; */
  margin-left: auto;
  font-family: 'Hind Vadodara', sans-serif;
}
.menu .menu-nav{
  display: flex;
  padding-left: 10px;
}
.menu .menu-nav .menu-item{
    list-style-type: none;
    padding: 30px 16px;
    font-weight: 500;

}
.menu .menu-nav .menu-item .item-link{
    color: var(--vt-c-white);
    font-size: 20px;
    position: relative;
}
.menu .menu-nav .menu-item .item-link::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: white;
    top: 100%;
    transition: all .5s;
}
.menu .menu-nav .menu-item .item-link::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: blue;
    top: 100%;
    right: 0;
    transition: all .5s;
}
.menu .menu-nav .menu-item .item-link:hover::before, .menu .menu-nav .menu-item .item-link:hover::after{
    width: 50%;
}

.menu .menu-nav .menu-item:nth-child(6){
  color: white;
  padding-right: 0.5px;
  padding-top: 33px;
  font-weight: bold;
}
.menu .menu-nav .menu-item:nth-child(7){
  color: white;
  padding-right: 0.5px;
  padding-top: 33px;
  font-weight: 700;
}
.menu .menu-nav .menu-item:nth-child(8){
  color: white;
  padding-top: 33px;
  font-weight: 500;
}

/* @content-banner */
.content_banner{
  width: 85%;
  height: 370px;
  background: linear-gradient(90deg, rgba(235,125,164,1) 46%, rgba(131,58,180,1) 100%, rgba(252,176,69,1) 100%);
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
}
/* @title-banner */
.title-banner{
  width: 50%;
  height: 100%;
  padding: 70px 40px;
  /* background-color: blue; */
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 0.5px 0px gray;
}
.title-banner h1{
  color: var(--vt-c-white);
  font-size: 43px;
  font-weight: bold;
}
.title-banner p{
  color: var(--vt-c-white);
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

/* @image-banner */
.image-banner{
  width: 50%;
  height: 100%;
  /* background-color: red; */
}
.image-banner img{
  height: 100%;
  padding-top: 40px;
}

/* @available-instock */
.in-stock-header{
  width: 85%;
  height: 80px;
  background: linear-gradient(90deg, rgba(134,0,223,1) 0%, rgba(136,62,180,1) 0%, rgba(242,110,156,1) 77%, rgba(225,138,171,1) 100%, rgba(198,69,252,1) 100%);
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding-top: 17px;
  font-family: 'Roboto Condensed', sans-serif;
}
.in-stock-header h1{
  font-size: 33px;
  font-weight: bolder;
  color: var(--vt-c-white);
  letter-spacing: 1.5px;
}

/* @product-content */
.product_content{
  width: 85%;
  height: 230px;
  /* background-color: blue; */
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.content_box{
  width: 24%;
  height: 100%;
  background: linear-gradient(90deg, rgba(134,0,223,1) 0%, rgba(136,62,180,1) 0%, rgba(242,110,156,1) 0%, rgba(224,93,195,1) 100%, rgba(228,97,186,1) 100%, rgba(198,69,252,1) 100%, rgba(225,138,171,1) 100%);
  border-radius: 5px;
}

.box-image{
  width: 100%;
  height: 68%;
  /* background-color: orange; */
}
.box-image img{
  width: 100%;
  height: 100%;
}
.box-title{
  width: 100%;
  height: 32%;
  /* background-color: blueviolet; */
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
.box-title h1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}